body, html {
    font-family: Arial, sans-serif;
    background-color: #f7f8fc;
    margin: 0;
    font-size: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: clamp(250px, 25%, 280px) 3fr;
}

.sidebar {
    background-color: #363740;
    color: #a4a6b3;
    font-size: 16px;
    height:100vh;
    width: clamp(250px, 25%, 280px);
    position: fixed;
    display: grid;
    grid-template-rows: 90px 1fr;
}

.logo {
    display: grid;
    grid-template-columns: 70px 1fr ;
    justify-items: start;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
}

#logo-img {
    width:60px;
    height: 60px;
}
#logo {
     font-size: 23px;
     font-weight:600;
     color: white;
     margin-top: -10px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list1 {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 25px;
    align-items: end;
    justify-items: space-between;
    margin-left: -10px;
}

.list2 {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-content: end;
    align-items: end;
    gap: 25px;
    justify-items: space-between;
    padding-bottom: 20px;
    margin-left: -10px;
}

ul > img {
    height: 24px;
    width: 24px;
    filter: invert(38%) sepia(8%) saturate(599%) hue-rotate(198deg) brightness(95%) contrast(87%);
}

.container {
    display: grid;
    height:100%;
    grid-template-rows: .35fr .75fr minmax(1fr, 2.75fr) 2fr;
    gap: 25px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-column: 2 / 3;
}

ul {
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: minmax(150px, 4fr) 1fr;
    grid-row: 1/2;
    align-items: center;
    margin-top: -17px;
    padding: 10px;
}

.dashboard {
    display:grid;
    grid-template-columns: 50px 50px 30px 100px 100px;
    align-items: center;
    justify-items: end;
}

.dashboard > #img {
    width: 20px;
    height: 20px;
    filter: invert(96%) sepia(46%) saturate(6538%) hue-rotate(180deg) brightness(79%) contrast(71%);
}

.dashboard > #mag {
    width: 23px;
    height: 23px;
    margin-top: 3px;
    filter: invert(96%) sepia(46%) saturate(6538%) hue-rotate(180deg) brightness(79%) contrast(71%);
}

#profile {
    height:50px;
    width: 50px;
    border-radius: 50%;
}

#overview {
    font-size: 23px;
    font-weight:550;
}

.top {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, minmax(125px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    border: 2px solid #dfe0eb; 
    border-radius: 10px;
    height: 125px;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 15px;
    font-weight: bold;
}

.light {
    font-size: 18px;
    color:#a4a6b3;
}

.number {
    font-size: 35px;
    color:#363740;
}
.card:hover {
    border-color: #3751ff;
    height: 125px;
}
.two {
    font-size: 28px;
    font-weight: 600;
}


.middle {
    grid-row: 3 / 4;
    border: 2px solid #dfe0eb;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1.5fr  1fr;

}

.trends { 
    max-width: 100%;
    overflow: hidden;
    border-right: solid 1px #dfe0eb;

}

img {
    width: 100%;
    height:100%;
}

.text {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    padding-top: 25px;
}

.data {
    display: flex;
    flex-direction: column;
}

.cell {
    height: 75px;
    display: grid;
    justify-items: center;
    align-content: center;
    align-items: space-between;
    flex-grow: 1; 
    flex-shrink: 1;    
}

#resolved, #received, 
#average {
    border-bottom: solid 1px #dfe0eb;
}

.bottom {
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.left, 
.right {
    border: 1px solid #dfe0eb;
    background: #ffffff;
    border-radius: 10px;
    font-size: 14px;
    color: #252733;
    font-weight:bolder;
    display:grid;
    grid-template-rows: 1fr 25px 1fr 1fr 1fr;
}


.title-left {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    justify-items: space-around;
    font-size: 18px;
    padding:25px; 
}

.sub-left {
    font-weight: 100;
    color:#a4a6b3;
    font-size: 12px;
    padding:25px;
    margin-top: -40px;
}
.group-left {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    align-items: center;
    justify-items: space-between;
    border-bottom: #dfe0eb solid 2px;
    padding:25px;
}

.last-left {
    display: grid;
    grid-template-columns:3fr 1fr;
    align-items: center;
    justify-items: space-between;
    padding:25px;
}

.num-left {
    font-weight: 100;
    color:#a4a6b3;
    justify-self: end;
}


.title-right {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    justify-items: space-around;
    font-size: 18px;
    padding:25px;   
}

.sub-right {
    font-weight: 100;
    color:#a4a6b3;
    font-size: 12px;
    padding:25px;
    margin-top: -40px;

}

.group-right {
    display: inline-grid;
    grid-template-columns: 40px 1fr 1fr;
    align-items: center;
    border-bottom: #dfe0eb solid 2px;
    padding:25px;
}

.last-right {
    display: inline-grid;
    grid-template-columns: 40px 1fr 1fr;
    align-items: center;
    padding:25px;
}


.checkbox-round {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #3751ff;
    border:#3751ff;
}

.checkbox-round:hover {

}

a {
    font-size: 14px;
    color:#3751ff;
    text-decoration: none;
    justify-self:end;
    align-self: center;
}

.badge {
    width: min-content;
    padding: 5px 10px;
    font-size: 11px;
    border-radius: 5px;
    display: grid;
    justify-self: end;
}