body, html {
    font-family: Arial, sans-serif;
    background-color: #f7f8fc;
    margin: 0;
    font-size: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: clamp(220px, 25%, 280px) 3fr;
}

.sidebar {
    background-color: #363740;
    color: #a4a6b3;
    font-size: 16px;
    height:100%;
    display: grid;
}

#logo {
     font-size: 23px;
     font-weight:600;
     padding:30px;
     color: white;
}

.menu {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.list1 {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 25px;
    align-items: center;
    justify-items: space-between;
}

.list2 {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-content: end;
    gap: 25px;
    justify-items: space-between;
}

ul > img {
    height: 24px;
    width: 24px;
    filter: invert(38%) sepia(8%) saturate(599%) hue-rotate(198deg) brightness(95%) contrast(87%);
}

.container {
    display: grid;
    height:100vh;
    grid-template-rows: .35fr .75fr 2.75fr 2fr;
    gap: 25px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-column: 2 / 3;
}

ul {
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: minmax(150px, 4fr) repeat(5, minmax(125px, 1fr));
    grid-row: 1/2;
}

#overview {
    font-size: 23px;
    font-weight:550;
}

.top {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, minmax(125px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    border: 2px solid #dfe0eb; 
    border-radius: 10px;
    height: 125px;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 15px;
    font-weight: bold;
}

.light {
    font-size: 18px;
    color:#a4a6b3;
}

.number {
    font-size: 35px;
    color:#363740;
}
.card:hover {
    border-color: #3751ff;
    height: 127px;
}
.two {
    font-size: 28px;
    font-weight: 600;
}


.middle {
    grid-row: 3 / 4;
    border: 2px solid #dfe0eb;
    border-radius: 10px;
    background-color: white;
    display: grid;
    max-width: 100vw;
    grid-template-columns: 1.2fr  1fr;

}

.trends { 
    max-width: 100%;
    overflow: hidden;
    border-right: solid 1px #dfe0eb;
}
    

img {
    height:100%;
    width: 100%;
    object-fit: cover;
}

.data {
    display: flex;
    flex-direction: column;

}

.cell {
    height: 75px;
    display: grid;
    justify-items: center;
    align-content: center;
    align-items: space-between;
    flex-grow: 1; 
    flex-shrink: 1;    

}

#resolved, #received, 
#average {
    border-bottom: solid 1px #dfe0eb;
}

.bottom {
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.left, 
.right {
    border: 1px solid #dfe0eb;
    background: #ffffff;
    border-radius: 10px;
    font-size: 14px;
    color: #252733;
    font-weight: bold;
    display:grid;
    grid-template-rows: 1fr 25px 1fr 1fr 1fr;
}


.title-left {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    justify-items: space-around;
    font-size: 18px;
    padding:25px; 
}

.sub-left {
    font-weight: 100;
    color:#a4a6b3;
    font-size: 12px;
    padding:25px;
    margin-top: -40px;
}
.group-left {
    display: grid;
    align-items: center;
    border-bottom: #dfe0eb solid 2px;
    padding:25px;
}

.last-left {
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
    padding:25px;
}



.title-right {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    justify-items: space-around;
    font-size: 18px;
    padding:25px;   
}

.sub-right {
    font-weight: 100;
    color:#a4a6b3;
    font-size: 12px;
    padding:25px;
    margin-top: -40px;

}

.group-right {
    display: inline-grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    border-bottom: #dfe0eb solid 2px;
    padding:25px;
}

.last-right {
    display: inline-grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding:25px;
}


.checkbox-round {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #3751ff;
    border:#3751ff;
}

.checkbox-round:hover {

}

a {
    font-size: 12px;
    color:#3751ff;
    text-decoration: none;
    justify-self:end;
    align-self: center;
    padding-right: 10px;
}